/* You can add custom styles here. */

// @import "plugins/numbered";

.heading-1 {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.last-modified {
    font-size: 0.9rem;
    margin-bottom: 2rem;
}

.book-footer {
    padding-top: 2rem;
    border-top: 1px solid #ddd;
    margin-top: 3rem;
    text-align: center
}
