/* You can add custom styles here. */

// @import "plugins/numbered";

.heading-1 {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.last-modified {
    font-size: 0.9rem;
    margin-bottom: 2rem;

    .language {
        display: block;
        margin-top: 0.3rem;
    }
}

.book-footer {
    padding-top: 2rem;
    border-top: 1px solid #ddd;
    margin-top: 3rem;
    text-align: center
}

.menu-social {
    text-align: center;
    
    .language {
        display: block;
        margin-bottom: 1rem;
        
        &:hover {
            color: $color-visited-link
        }
    }

    .social-icon {
        padding: .3em .5em;
    }
}