{{ define "main" }}
<article class="markdown">
    {{- .Content -}}
   
    <h2>Tabla casos positivos COVID 19</h2>
    <table>
      <tr>
        <th>Fecha</th>
        <th>PDF</th>
        <th>CSV</th>
        <th>TXT</th>
      </tr>
      {{ range .Params.positive }}
      <tr>
        <td>{{ .date }}</td>
        <td><a href="/data/results/{{ .pdf }}" target="_blank" data-gtm-type="click" data-gtm-category="PDF Files" data-gtm-action="Download" data-gtm-label="Covid 19 - Positivos - {{ .date }}">Descargar</a></td>
        <td>{{ if .csv }}<a href="/data/results/{{ .csv }}" target="_blank" data-gtm-type="click" data-gtm-category="CSV Files" data-gtm-action="Download" data-gtm-label="Covid 19 - Positivos - {{ .date }}">Descargar</a>{{ end }}</td>
        <td>{{ if .txt }}<a href="/data/results/{{ .txt }}" target="_blank" data-gtm-type="click" data-gtm-category="TXT Files" data-gtm-action="Download" data-gtm-label="Covid 19 - Positivos - {{ .date }}">Descargar</a>{{ end }}</td>
      </tr>
      {{ end }}
    </table>
    <h2>Tabla casos sospechosos COVID 19</h2>
    <table>
      <tr>
        <th>Fecha</th>
        <th>PDF</th>
        <th>CSV</th>
        <th>TXT</th>
      </tr>
      {{ range .Params.suspected }}
      <tr>
        <td>{{ .date }}</td>
        <td><a href="/data/results/{{ .pdf }}" target="_blank" data-gtm-type="click" data-gtm-category="PDF Files" data-gtm-action="Download" data-gtm-label="Covid 19 - Sospechosos - {{ .date }}">Descargar</a></td>
        <td><a href="/data/results/{{ .csv }}" target="_blank" data-gtm-type="click" data-gtm-category="PDF Files" data-gtm-action="Download" data-gtm-label="Covid 19 - Sospechosos - {{ .date }}">Descargar</a></td>
        <td><a href="/data/results/{{ .txt }}" target="_blank" data-gtm-type="click" data-gtm-category="PDF Files" data-gtm-action="Download" data-gtm-label="Covid 19 - Sospechosos - {{ .date }}">Descargar</a></td>
      </tr>
      {{ end }}
       

    </table>
  </article>
{{ end }}
