{{ define "main" }}
<article class="markdown">
    {{- .Content -}}
    
    {{ $url := print "https://datos.covid19in.mx/files.json?ts=" now.Unix }}
    {{ $products := getJSON $url }}

    {{ $series := $products.series }}

    <h3>Series de Tiempo</h3>
    <ul>
      <li>
        <a href="https://datos.covid19in.mx{{ $series.agregados.totales  }}" target="_blank" data-gtm-type="click" data-gtm-category="Time Series Files" data-gtm-action="Download" data-gtm-label="By Day">Totales por día</a>
      </li>
      <li>
        <a href="https://datos.covid19in.mx{{ $series.agregados.federal  }}" target="_blank" data-gtm-type="click" data-gtm-category="Time Series Files" data-gtm-action="Download" data-gtm-label="By State and Date">Todos los datos (por fecha y estado)</a>
      </li>
    </ul>

    <h3>Series de Tiempo por Estado</h3>

    <div class="book-expand">
      <label>
        <div class="book-expand-head flex justify-between">
          <span>Abrir</span>
          <span>{{ "↕" }}</span>
        </div>
        <input type="checkbox" class="hidden" />
        <div class="book-expand-content markdown-inner">
          <table>
            <tr>
              <th>Fecha</th>
              <th>CSV</th>
            </tr>
            {{ range $series.estatal  }}
            <tr>
              
              <td>{{ .nombre }}</td>
              <td><a href="https://datos.covid19in.mx{{ .path }}" target="_blank" data-gtm-type="click" data-gtm-category="Time Series Files" data-gtm-action="Download" data-gtm-label="By State - {{ .nombre }}">Descargar</a></td>
            </tr>
            {{ end }}
          </table>
        </div>
      </label>
    </div>


    <h3>Series de Tiempo por Fecha</h3>

    {{ range sort $series.federal "date" "asc"  }}
      <div class="book-expand">
        <label>
          <div class="book-expand-head flex justify-between">
            <span>{{ .titulo }}</span>
            <span>{{ "↕" }}</span>
          </div>
          <input type="checkbox" class="hidden" />
          <div class="book-expand-content markdown-inner">
            {{ partial "series-date-table.html" (dict "products" .elementos) }}
          </div>
        </label>
      </div>
    {{ end }}


    {{ $tables := $products.tablas }}

    <h2>Tabla de Casos Positivos COVID-19 en Mexico</h2>

    {{ range sort $tables.positivos "fecha" "asc"  }}
      <div class="book-expand">
        <label>
          <div class="book-expand-head flex justify-between">
            <span>{{ .titulo }}</span>
            <span>{{ "↕" }}</span>
          </div>
          <input type="checkbox" class="hidden" />
          <div class="book-expand-content markdown-inner">
            {{ partial "cases-table.html" (dict "products" .elementos "type" "Positivos") }}
          </div>
        </label>
      </div>
    {{ end }}

    <h2>Tabla de Casos Sospechosos COVID-19 en Mexico</h2>

    {{ range sort $tables.sospechosos "fecha" "asc"  }}
      <div class="book-expand">
        <label>
          <div class="book-expand-head flex justify-between">
            <span>{{ .titulo }}</span>
            <span>{{ "↕" }}</span>
          </div>
          <input type="checkbox" class="hidden" />
          <div class="book-expand-content markdown-inner">
            {{ partial "cases-table.html" (dict "products" .elementos "type" "Sospechosos") }}
          </div>
        </label>
      </div>
    {{ end }}


  </article>
{{ end }}
