{{ if .Inner }}{{ end }}
{{ $id := .Get 0 }}

{{ $url := print "https://datos.covid19in.mx/files.json?ts=" now.Unix }}
{{ $files := getJSON $url }}
{{ $tables := $files.tablas }}

{{ range $key, $value := $tables }}
  {{ if eq $key $id }}
    {{ range sort $value "fecha" "desc"  }}
      <h2>{{ .titulo }}</h2>
      <table>
        <tr>
          <th>Fecha</th>
          <th>PDF</th>
          <th>CSV</th>
          <th>TXT</th>
        </tr>
        {{ range sort .elementos "fecha" "desc"  }}
        <tr>
          <td>{{ .fecha }}</td>
          <td><a href="https://datos.covid19in.mx{{ .pdf }}" target="_blank" data-gtm-type="click" data-gtm-category="PDF Files" data-gtm-action="Download" data-gtm-label="Covid 19 - {{ title $key }} - {{ .fecha }}">Descargar</a></td>
          <td>{{ if .csv }}<a href="https://datos.covid19in.mx{{ .csv }}" target="_blank" data-gtm-type="click" data-gtm-category="CSV Files" data-gtm-action="Download" data-gtm-label="Covid 19 - {{ title $key }} - {{ .fecha }}">Descargar</a>{{ end }}</td>
          <td>{{ if .txt }}<a href="https://datos.covid19in.mx{{ .txt }}" target="_blank" data-gtm-type="click" data-gtm-category="TXT Files" data-gtm-action="Download" data-gtm-label="Covid 19 - {{ title $key }} - {{ .fecha }}">Descargar</a>{{ end }}</td>
        </tr>
        {{ end }}
      </table>
    {{ end }}
  {{ end }}
{{ end }}
