{{ if .Inner }}{{ end }}

{{ $url := print "https://datos.covid19in.mx/files.json?ts=" now.Unix }}
{{ $files := getJSON $url }}
{{ $series := $files.series }}

{{ range sort $series.federal "fecha" "desc"  }}
    {{ .titulo }}
    <ul>
    {{ range sort .elementos "fecha" "desc"  }}
    <li>
        <a href="https://datos.covid19in.mx{{ .path }}" target="_blank" data-gtm-type="click" data-gtm-category="Time Series Files" data-gtm-action="Download" data-gtm-label="By Date - {{ .fecha }}">{{ .fecha }}</a>
    </li>
    {{ end }}
    </ul>
{{ end }}
